In [1]:
x=int(input("Enter value of X="))
y=int(input("Enter value of Y="))

Enter value of X=10
Enter value of Y=20

In [2]:
if x > y :
  print("X is greater than Y")

In [3]:
if x > y :
  print("X is greater than Y")
if x< y :
  print("X is less than Y")

X is less than Y

In [4]:
if x > y :
  print("X is greater than Y")
if x< y :
  print("X is less than Y")
if x == y :
  print("X is equel to  Y")

X is less than Y

In [5]:
x=int(input("Enter value of X="))
y=int(input("Enter value of Y="))
if x > y :
  print("X is greater than Y")
if x< y :
  print("X is less than Y")
if x == y :
  print("X is equel to  Y")

Enter value of X=10
Enter value of Y=20
X is less than Y

In [6]:
if x > y :
  print("X is greater than Y")
elif x< y :
  print("X is less than Y")
elif x == y :
  print("X is equel to  Y")

X is less than Y

In [7]:
if x > y :
  print("X is greater than Y")
elif x< y :
  print("X is less than Y")
else:
  print("X is equel to  Y")

X is less than Y

In [8]:
y=input("Enter your username = ")
if y ==  "Adam":
  print(" Your username is correct")
else :
  print("Wrong entry")

Enter your username = Adam
 Your username is correct

In [9]:
Income=int(input("Enter your Income in Lakhs "))
if ((Income>=2) and (Income<=5)):
    print(" Base Tax ")
else:
    print(" Special Tax rates  ")

Enter your Income in Lakhs 5
 Base Tax

In [10]:
Income=int(input("Enter your Income "))
if ((Income<=2) or (Income>=50)):
    print("Tax rate is 5 %")
else:
    print(" Tax is 10 %")

Enter your Income 5
 Tax is 10 %

In [11]:
x= int(input("Enter a number  = "))
i=0
while i < x:
  print(i)
  i = i +1

Enter a number  = 5
0
1
2
3
4

In [12]:
x= int(input("Enter a number  = "))
i=0
while i < x:
  print(i)
  i = i +2

Enter a number  = 5
0
2
4

In [13]:
x = int(input(" Please Enter the final value : "))
total = 0
i = 0
while i < x :
  total = total + i
  i=i+1

print(total)

 Please Enter the final value : 5
10

In [14]:
x = int(input(" Please a value: "))

for i in range(x) :
  print(i)

 Please a value: 5
0
1
2
3
4

In [15]:
x = int(input(" Please Enter the final value : "))
total = 0
 
for i in range(x) :
  total = total + i
print(total)

 Please Enter the final value : 5
10

In [16]:
x = int(input(" Please Enter the final value : "))
total = 0
 
for i in range(x) :
  if(i%2) == 0 :
    total = total + i
print(total)

 Please Enter the final value : 5
6

In [17]:
 i = 1
while i < 10:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [18]:
 i = 0
while i < 10:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10